<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Информация о фильме</h1>
<img src="/films/${filmId}/file" width="255" height="255" alt="lorem">
<br>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <#list actors as actor>
        <tr>
            <td>${actor.firstName}</td>
            <td>${actor.lastName}</td>
        </tr>
    </#list>
</table>
<div>
    <#if isAdmin>
        <#include "divs/for_add_films_data.ftlh"/>
    </#if>
</div>
<h2><a href="/films">Фильмы</a></h2>
<h2><a href="/profile">Профиль</a></h2>
<h2><a href="/search">Поиск</a></h2>
<h2><a href="/logout">Выход</a></h2>
<br>
<a href="?lang=ru">RU</a>
<br>
<a href="?lang=en">EN</a>
</body>
</html>