<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<form action="/films/${filmId}/upload" method="post" enctype="multipart/form-data">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" placeholder="Enter description...">
    <br>
    <input type="file" name="file">
    <input type="submit" value="File Upload">
</form>
<br>
<h2><a href="/films/${filmId}/actors">Вернуться</a></h2>
<br>
<h2><a href="/profile">Профиль</a></h2>
<h2><a href="/search">Поиск</a></h2>
<h2><a href="/films">Фильмы</a></h2>
<h2><a href="/logout">Выход</a></h2>
</body>
</html>