<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
<h2>Your email: ${user.email}</h2>
<h1>Hello, ${user.name} </h1>
<br>
<form action="/profile" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
    <label for="newName">New name</label>
    <input type="text" id="newName" name="newName" placeholder="Enter name...">
    <br>
    <input type="submit" value="Change">
</form>
<br>
<h2><a href="/films">Фильмы</a></h2>
<h2><a href="/search">Поиск</a></h2>
<h2><a href="/logout">Выход</a></h2>
</body>
</html>