<!doctype html>
<#import "spring.ftl" as spring/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><@spring.message 'signUp.title'/></title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h1><@spring.message 'signUp.header'/></h1>
<p><@spring.message 'signUp.enterData'/></p>
<br>
<form method="post" action="/signUp">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">

    <label for="firstName"><@spring.message 'signUp.form.label.name'/></label>
    <#assign nameCode>"<@spring.message 'signUp.form.input.name'/>"</#assign>
    <@spring.formInput 'signUpForm.name' "placeholder=${nameCode}"/>
    <@spring.showErrors "<br>" "error"/>

    <br>

    <label for="email"><@spring.message 'signUp.form.label.email'/></label>
    <#assign emailCode>"<@spring.message 'signUp.form.input.email'/>"</#assign>
    <@spring.formInput 'signUpForm.email' "placeholder=${emailCode}"/>
    <@spring.showErrors "<br>" "error"/>

    <br>

    <label for="password"><@spring.message 'signUp.form.label.password'/></label>
    <#assign passwordCode>"<@spring.message 'signUp.form.input.password'/>"</#assign>
    <@spring.formInput 'signUpForm.password' "placeholder=${passwordCode}"/>
    <@spring.showErrors "<br>" "error"/>

    <br>

    <input type="submit" name="" value="<@spring.message 'signUp.form.input.submit.value'/>">
</form>

<h2><a href="/signIn"><@spring.message 'common.form.address.signIn'/></a></h2>
<br>
<a href="?lang=ru">RU</a>
<br>
<a href="?lang=en">EN</a>

</body>
</html>