<!doctype html>
<html lang="en">
<head>
    <title>Actors</title>
</head>
<script>
    function addActor(firstName, lastName) {
        let body = {
            "firstName": firstName,
            "lastName": lastName
        };

        let request = new XMLHttpRequest();

        request.open('POST', '/actors', false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(JSON.stringify(body));

        if (request.status !== 201) {
            alert("Ошибка!")
        } else {
            let html = '<tr>' +
                '<th>First name</th>' +
                '<th>Last name</th>' +
                '</tr>';


            let response = JSON.parse(request.response);

            for (let i = 0; i < response.length; i++) {
                html += '<tr>';
                html += '<td>' + response[i]['firstName'] + '</td>';
                html += '<td>' + response[i]['lastName'] + '</td>';
                html += '</tr>'
            }

            document.getElementById('actors_table').innerHTML = html;
        }

    }
</script>
<body>
<h1>Actors page</h1>
<div>
    <label for="firstName">First name:</label>
    <input id="firstName" name="firstName" placeholder="Example: Gena"/>
    <label for="lastName">Last name:</label>
    <input id="lastName" name="lastName" placeholder="Example: Bukin">
    <button onclick="addActor(
        document.getElementById('firstName').value,
        document.getElementById('lastName').value)">Add
    </button>
</div>
<div>
    <table id="actors_table">

    </table>
</div>
</body>
</html>